

*{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
/* h3{
    color: #ef0b0b;
} */
h1,h3{
    color: #b92b27;
}
#login{
    background-color: #0866ff;
    color:white;
}
#signup{
    background-color: #31a24c;
    color: white;
}
.up{
    background-color:  #73f83f;
}
/* desendent selector  */

p a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: rgb(253, 110, 134);
}