
/* 
*{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
} */
/* h3{
    color: #ef0b0b;
} */
h1,h3{
    color: #b92b27;
}
#login{
    background-color: #0866ff;
    color:white;
}
#signup{
    background-color: #31a24c;
    color: white;
}
.up{
    background-color:  #73f83f;
}
/* desendent selector  */

/* p a{
    color: purple;
    background-color: yellow;
} */

.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: rgb(253, 110, 134);
}

.up + button{
    background-color: rgb(119, 161, 239);
}

/* child selector */
div > input{
    background-color: rgb(141, 210, 91);
    /* color: red; */
}
/* ATTRIBUTE SELECTOR */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color:red;
}
input[type]{
    background-color: rgb(80, 136, 239);
}
button:hover{
    background-color: aqua;
    color: coral;
}
button:active{
    background-color: red;
}
p:active{
    font-weight: bold;
    color: red;
}

input[type="radio"]:checked+label {
    color: orangered;
    font-weight: bolder;
}
input[type="checkbox"]:checked+label {
    color: orangered;
    font-weight: bolder;
}
.post:nth-of-type(2){
    background-color: wheat;
}
div:nth-of-type(n){
    background-color: wheat;
}

/* pseudoclass */
/* pseudo element */
h1::first-letter{
    color: orangered;
}
#p::first-line{
    color: cadetblue;
}
#p::selection{
    background-color: #31a24c;
}

h3{
    background-color: yellow;
}
h3{
    background-color: rgb(162, 254, 2);
}