
/* *{
    align-items: center;
} */
div{
    height: 400px;
    width: 400px;
    background-color: palegreen;
    border-width: 5px solid pink;
    border-color: blueviolet;
    border-style: solid;
    border-bottom: red 4px solid ;
    border-right: red 4px solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    /* border-radius: 12% 4%; */
    border-radius: 2% 12%;
    text-align: center;
    text-align: justify;
    margin-top: 25px;
    margin-left: 200px;
    /* text-overflow: calc(); */
    /* text-decorati; */
    /* border-left-style: dashed;
    border-left-color: ; */

    /* border-bottom: red; */
    /* border-top-left-radius: red 4px solid; */
}
h1{
    border-width: 4px;
    border-style: solid;
    border-color: blueviolet;
    border-bottom: red 4px solid ;
    border-right: red 4px solid;
    margin: 20px;
    border-radius: 20px;
    padding-left: 20px;
    color: rgb(249, 2, 249);
}
button{
    border: solid 2px blue;
    background-color: blue;
    color: aliceblue;
    border-radius: 25px;
    padding-right: 40px;
    padding-left: 40px;
    /* padding-right: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: ; */
        margin-left: 320px;
    /* margin: 25px 674px 78px; top | left  & right | bottom */
    /* top |right |bottom | left */

}